.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}

.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 40px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
h1 span {
  font-size: 30px;
  font-family: sans-serif;
}
.primary-text {
  color: var(--white);
}
.highlighted-text {
  color: #ff5823;
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  
}
.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
  border: 2px solid white;
  border-radius: 12px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}

.icon {
  color: white;
  padding: 8px;
  padding-left: 0px;
  font-size: calc(2rem + .9vw) !important;
}
.icon:hover {
  transform: scale(1.5);
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media only screen and (max-width: 910px) {
}
@media only screen and (max-width: 810px) {
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-around;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .profile-details {
    width: 95%;
  }
}